name: Deploy PDF

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
    
      - name: Install LaTeX
        run: |
          sudo apt-get update
          sudo apt-get install -y texlive-full
          sudo apt-get install -y texlive-luatex

      - name: Compile LaTeX to PDF
        run: make

      - name: Clone niclaurenti.github.io
        uses: actions/checkout@v2
        with:
          repository: niclaurenti/niclaurenti.github.io
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          path: niclaurenti.github.io

      - name: Copy cv.pdf
        run: |
            cp cv.pdf niclaurenti.github.io/files
    
      - name: Commit and Push Changes
        run: |
          cd niclaurenti.github.io
          git config user.email "niclaurenti@gmail.com"
          git config user.name "niclaurenti"
          git add files/cv.pdf
          git commit -m "Automated update of cv.pdf"
          git push
